@media only screen and (max-width: 1200px) {
    .last-news_wrapper {
        height: 1368px;
    }

    .last-news_content-wrapper {
        width: 870px;
        height: 90%;
    }
}

@media only screen and (max-width: 1024px) {
    .header_wrapper {
        padding: 17px 42px 17px 46px;
    }

    .intro-wrapper, .center-items {
        max-width: 1024px;
        height: 623px;
    }

    .intro_read-more {
        margin-top: -30px;
    }

    .into_title {
        margin-top: 101px;
    }

    .title_text {
        font-size: 84px;
        line-height: 84px;
    }

    .intro-text {
        font-size: 18px;
        line-height: 20px;
    }

    .intro_intro-text {
        width: 587px;
    }

    .promo_wrapper {
        padding: 40px 43px 40px 46px;
    }

    .promo_text h2 {
        font-size: 18px;
        line-height: 18px;
    }

    .promo_text p {
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }

    .services_wrapper {
        flex-direction: column;
    }

    .services_recent-wrapper {
        max-width: 640px;
        padding: 52px 0 32px 44px;
    }

    .services_recent-service {
        display: flex;
        justify-content: center;
    }

    .services-content_wrapper {
        width: 1024px;
    }

    .resent-work_wrapper {
        min-height: 1033px;
        padding: 81px 180px 136px 182px;
    }


    .content-title {
        margin-bottom: 30px;
    }

    .recent-work_info-block {
        width: 287px;
        height: 256px;
        margin-top: 13px;
    }

    .recent-work_info-block a {
        padding: 7px 7px;
    }

    .video-block_wrapper {
        padding: 60px 0 80px 46px;
    }

    .video-block_img img {
        min-width: 200px;
    }

    .video-block_title {
        margin-left: 60px;
    }

    .video-block_title hr {
        margin: 15px 0 19px 0;
    }

    .video-block_look-more {
        margin-left: 174px;
        margin-top: 306px;
    }

    .last-news_title {
        margin-top: 65px;
    }

    .last-news_card_wrapper p {
        font-size: 18px;
        line-height: 21px
    }

    .feedback-text {
        font-size: 36px;
    }

    .quotes_title img {
        margin-bottom: 44px;
    }

    .quote-wrapper p {
        margin-bottom: 45px;
        font-size: 32px;
        line-height: 37px;
    }

    .quote-wrapper cite {
        font-size: 20px;
    }


    .social-icon {
        width: 237px;
        height: 57px;
    }

    .menu-wrapper {
        margin-top: 57px;
    }

    .menu-items .menu-items-link {
        font-size: 18px;
        line-height: 21px;
    }

    .menu-items {
        width: 237px;
    }

    .menu-element a {
        font-size: 16px;
    }

    .return-wrapper {
        margin-right: 12px;
    }
}

@media only screen and (max-width: 995px) {
    .recent-work_content {
        display: block;
    }

    .services-content_wrapper {
        width: 768px;
        align-self: center;
        justify-content: center;
    }

    .card-wrapper {
        width: 50%;
        height: 24%;
    }
}

@media only screen and (max-width: 870px) {
    .last-news_wrapper {
        height: 1745px;
    }

    .last-news_content-wrapper {
        width: 626px;
        height: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .header_wrapper {
        padding: 17px 30px 17px 44px;
    }

    .intro-wrapper, .center-items {
        max-width: 768px;
        height: 465px;
    }

    .intro_read-more {
        top: 420px;
    }

    .into_title {
        max-width: 430px;
        margin-top: 87px;
    }

    .title_text {
        font-size: 60px;
        line-height: 60px;
    }

    .intro_pagination {
        margin-top: 50px;
    }

    .intro_arrow {
        top: 146px;
    }

    .promo_wrapper {
        padding: 60px 42px 30px 46px;
    }

    .promo_text h2 {
        font-size: 24px;
        line-height: 24px;
    }

    .promo_text p {
        font-size: 16px;
        line-height: 18px;
    }

    .services_recent-wrapper {
        justify-content: center;
        padding: 50px 35px 27px 44px;
    }

    .services_recent-idea {
        margin-top: 30px;
        margin-bottom: 32px;
        line-height: 24px;
    }

    .recent-work_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .resent-work_wrapper {
        padding: 80px 55px 136px 52px;
    }

    .video-block {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .video-block_wrapper {
        height: 479px;
        padding: 40px 43px 129px 46px;
    }

    .video-block_title {
        width: 407px;
        white-space: normal;
        margin-left: 34px;
    }

    .video-block_title hr {
        margin: 20px 0 7px 0;
    }

    .video-block_text {
        line-height: 18px;
    }

    .video-block_look-more {
        margin-left: -5%;
        margin-top: 370px;
    }

    .last-news_title {
        margin-top: 40px;
    }

    .last-news_title hr {
        margin-top: 20px;
        margin-bottom: 33px;
    }

    .quotes_title {
        margin-top: 60px;
    }

    .quotes_title img {
        margin-bottom: 40px;
    }

    .quote-wrapper p {
        margin-bottom: 40px;
        line-height: 34px;
    }

    .bolt-text {
        line-height: 34px;
    }

    .quote-wrapper cite {
        line-height: 23px;
    }

    .footer_feedback-text {
        margin-top: 114px;
        margin-left: 60px;
    }

    .social-wrapper {
        margin-top: 40px;
    }

    .social-icon {
        width: 160px;
    }

    .footer-menu {
        align-self: flex-start;
        margin-left: 60px;
    }

    .menu-wrapper {
        margin-top: 69px;
        flex-wrap: wrap;
    }

    .menu-items {
        width: 50%;
        margin-bottom: 28px;
    }

    .menu-items-link {
        font-size: 18px;
        line-height: 21px;
    }

    .menu-items_elements {
        padding-top: 14px;
    }
}

@media only screen and (max-width: 767px) {
    .services-content_wrapper {
        width: 640px;
    }

    .recent-work_content {
        display: block;
    }
}

@media only screen and (max-width: 640px) {
    .header_wrapper {
        padding: 17px 30px 17px 44px;
    }

    .intro-wrapper, .center-items {
        height: 465px;
    }

    .into_title {
        margin-top: 101px;
    }

    .intro_intro-text {
        display: none;
    }

    .intro_arrow {
        top: 126px;
    }

    .promo_wrapper {
        padding: 40px 30px 40px 30px;
        flex-direction: column;
        text-align: center;
    }

    .promo_text {
        padding-bottom: 40px;
    }

    .services_recent-wrapper {
        text-align: center;
        padding: 24px 40px 40px 40px;
    }

    .services_recent-idea {
        margin-top: 12px;
        margin-bottom: 30px;
    }

    .services_recent-wrapper hr {
        margin-left: auto;
        margin-right: auto;
    }

    .services-content_wrapper {
        width: 640px;
    }

    .video-block_wrapper {
        height: 1007px;
    }

    .portfolio-img {
        padding: 25px;
    }

    .card-wrapper {
        width: 50%;
        height: 25%;
    }

    .recent-work_content {
        margin-top: 40px;
    }

    .resent-work_wrapper {
        padding: 40px 5px 43px 5px;
    }

    .content-title {
        margin: 20px 0;
    }

    .recent-work_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .video-block_wrapper {
        flex-direction: column;
        align-items: center;
        padding: 46px 60px 56px 60px;
    }

    .video-block_img {
        max-width: 518px;
        min-height: 490px;
    }

    .video-block_img img {
        width: 100%;
        height: auto;
    }

    .video-block_title {
        text-align: center;
        margin-bottom: 66px;
    }

    .video-block_title hr {
        margin: 20px auto 40px auto;
    }

    .video-block_text {
        font-size: 16px;
    }

    .video-block_look-more {
        margin: auto;
        position: static;
    }

    .footer_feedback-text {
        margin-top: 84px;
        margin-left: 53px;
    }

    .social-wrapper {
        margin-top: 40px;
    }

    .feedback-text {
        font-size: 24px;
        line-height: 26px;
    }

    .social-icon {
        width: 130px;
    }

    .menu-wrapper {
        margin-top: 40px;
        margin-left: 0;
    }

    .menu-items {
        width: 50%;
    }
}

@media only screen and (max-width: 639px) {
    .last-news_wrapper {
        height: 2896px;
    }

    .services-content_wrapper {
        width: 480px;
    }
    .last-news_content-wrapper {
        width: 300px;
        height: 96%;
    }
}


@media only screen and (max-width: 480px)  {
    .header_wrapper {
        padding: 10px 20px 7px 35px;
    }

    .intro-wrapper, .center-items {
        height: 300px
    }

    .title_text {
        font-size: 55px;
        line-height: 48px;
    }

    .into_title {
        margin-top: 60px;
    }

    .intro_read-more {
        display: none;
    }

    .services_wrapper {
        align-items: center;
    }

    .services-content_wrapper {
        width: 300px;
    }

    .reverse-line {
        flex-direction: column-reverse;
    }

    .reverse-line hr {
        margin-top: 20px;
        margin-bottom: 50px;
    }


    .services_recent-idea {
        margin: 0 0;
    }

    .services_recent-integration {
        margin-top: 0;
    }

    .video-block_wrapper {
        height: 844px;
    }

    .card-wrapper {
        width: 100%;
        height: 270px;
    }

    .portfolio-img {
        width: 280px;
        height: 250px;
    }

    .title {
        font-size: 30px;
        line-height: 28px;
    }

    .recent-work_info-block {
        width: 254px;
        height: 227px;
        margin-top: 11px;
    }

    .recent-work_content {
        justify-content: center;
    }

    .video-block_wrapper {
        padding: 20px 23px 40px 16px;
    }

    .video-block_img {
        width: 281px;
        min-height: 243px;
        margin-bottom: 43px;
    }

    .video-block_title {
        width: 280px;
        margin-left: 0;
        margin-bottom: 100px;
    }

    .video-block_title hr {
        width: 60px;
        height: 8px;
        margin: 20px auto 23px auto;
    }

    .quote-wrapper p {
        font-size: 24px;
        line-height: 26px;
    }

    .quote-wrapper cite {
        font-size: 20px;
        line-height: 23px;
    }

    .last-news_title hr {
        margin-bottom: 8px;
        width: 50px;
    }

    .last-news_title {
        font-size: 24px;
        line-height: 38px;
    }

    .carousel-indicators {
        margin-top: 40px;
    }

    /*footer**/
    .footer-wrapper {
        text-align: center;
    }

    .footer_feedback-text {
        margin-top: 85px;
        margin-left: 0;
    }

    .social-wrapper {
        margin-top: 35px;
        flex-direction: column;
        padding: 8px;
    }

    .social-icon {
        width: 24px;
        height: 24px;
        border: none;
    }

    .footer-menu {
        align-self: center;
        margin-left: 0;
        flex-direction: column;
    }

    .menu-wrapper {
        margin-top: 38px;
        flex-direction: column;
    }

    .menu-items {
        width: 100%;
        margin-bottom: 41px;
    }

    .menu-items_elements {
        padding-top: 18px;
    }

    .menu-items_elements {
        font-size: 16px;
        line-height: 20px;
    }

    .return-to-header {
        height: 142px;
    }

    .return-wrapper {
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }
}

@media only screen and (max-width: 320px) {
    .header_wrapper {
        padding: 7px 20px 7px 25px;
    }

    .header {
        height: 80px;
    }

    .intro-wrapper, .center-items {
        height: 193px
    }

    .into_title {
        width: 272px;
        margin-top: 36px;
    }

    .title_text {
        font-size: 28px;
        line-height: 28px;
    }

    .intro_pagination {
        margin-top: 35px;
    }

    .promo_wrapper {
        padding: 40px 20px 40px 20px;
    }

    .services_recent-wrapper {
        width: 300px;
        margin: 0 0;
        padding: 25px 19px 40px 21px;
    }

    .title {
        font-size: 24px;
        line-height: 28px;
    }

    .text {
        font-size: 15px;
        line-height: 17px;
    }

    .services-content_wrapper {
        width: 280px;
    }

    .services_recent-integration {
        width: 269px;
    }

    .services_recent-idea {
        width: 269px;
        font-size: 20px;
        line-height: 24px;
    }

    .resent-work_wrapper {
        height: 1384px;
        padding: 40px 20px 80px 20px;
    }

    .resent-title {
        margin-bottom: 20px;
    }

    .content-title {
        margin: 20px 0;
    }

    .portfolio-img {
        width: 280px;
        height: 250px;
    }

    .recent-work_info-block a {
        padding: 6px 6px;
    }

    .video-block_title hr {
        width: 45px;
        height: 8px;
        margin: 20px auto 23px auto;
    }

    .feedback-text {
        font-size: 21px;
        line-height: 22px;
    }
}