/*******************************************-*********/
@media only screen and (max-width: 1024px) {
    .header_wrapper {
        padding: 17px 42px 17px 46px;
    }

    .intro {
        max-width: 1024px;
        height: 623px;
    }

    .into_title {
        margin-top: 101px;
    }

    .title_text {
        font-size: 84px;
        line-height: 84px;
    }

    .intro-text {
        font-size: 18px;
        line-height: 20px;
    }

    .intro_intro-text {
        width: 587px;
    }

    .intro_pagination {
        margin-top: 112px;
    }

    .intro-arrow {
        top: 163px;
    }

    .promo_wrapper {
        padding: 40px 43px 40px 46px;
    }

    .promo_text h2 {
        font-size: 18px;
        line-height: 18px;
    }

    .promo_text p {
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }

    .services_wrapper {
        flex-direction: column;
    }

    .services_recent-wrapper {
        max-width: 640px;
        padding: 52px 0 32px 44px;
    }

    .services_recent-service {
        display: flex;
        justify-content: center;
    }

    .services-content_wrapper {
        width: 1024px;
    }

    .resent-work_wrapper {
        padding: 81px 180px 136px 182px;
    }

    .portfolio-img {
        width: 317px;
        height: 283px;
    }

    .content-title {
        margin-bottom: 30px;
    }

    .recent-work_info-block {
        width: 287px;
        height: 256px;
        margin-top: 13px;
    }

    .recent-work_info-block a {
        padding: 7px 7px;
    }

    .video-block_wrapper {
        padding: 80px 0 80px 46px;
    }

    .video-block_img {
        min-width: 395px;
        height: 380px;
        overflow: hidden;
    }

    .video-block_title {
        margin-left: 60px;
    }

    .video-block_title hr {
        margin: 15px 0 19px 0;
    }

    .video-block_look-more {
        margin-left: 455px;
        margin-top: 320px;
    }
}

@media only screen and (max-width: 768px) {
    .header_wrapper {
        padding: 17px 30px 17px 44px;
    }

    .intro {
        max-width: 769px;
        height: 465px;
    }

    .into_title {
        margin-top: 87px;
    }

    .title_text {
        font-size: 60px;
        line-height: 60px;
    }

    .intro_pagination {
        margin-top: 50px;
    }

    .intro_arrow {
        top: 146px;
    }

    .promo_wrapper {
        padding: 60px 42px 30px 46px;
    }

    .promo_text h2 {
        font-size: 24px;
        line-height: 24px;
    }

    .promo_text p {
        font-size: 16px;
        line-height: 18px;
    }

    .services_recent-wrapper {
        justify-content: center;
        padding: 50px 35px 27px 44px;
    }


    .services_recent-idea {
        margin-top: 30px;
        margin-bottom: 32px;
        line-height: 24px;
    }

    .services-content_wrapper {
        width: 768px;
    }

    .card-wrapper {
        width: 50%;
        height: 24%;
    }

    .resent-work_wrapper {
        padding: 80px 55px 136px 52px;
    }

    .video-block_wrapper {
        padding: 40px 43px 129px 46px;
    }

    .video-block_img {
        min-width: 240px;
        height: 227px;
        background-size: cover;

    }

    .video-block_img img {
        width: 100%;
        height: auto;
    }

    .video-block_title {
        width: 407px;
        white-space: normal;
        margin-left: 34px;
    }

    .video-block_title hr {
        margin: 20px 0 7px 0;
    }

    .video-block_text {
        line-height: 18px;
    }

    .video-block_look-more {
        margin-left: 26.5%;
        margin-top: 370px;
    }

    .quotes_title img {
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .quotes-wrapper p {
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 40px;
    }

    .bolt-text {
        line-height: 34px;
    }

    .quotes-wrapper cite {
        margin-top: 50px;
        line-height: 23px;
    }

    .carousel-indicators {
        margin-top: 80px;;
    }
}

@media only screen and (max-width: 640px) {
    .header_wrapper {
        padding: 17px 30px 17px 44px;
    }

    .into_title {
        margin-top: 101px;
    }

    .intro_intro-text {
        display: none;
    }

    .intro_arrow {
        top: 126px;
    }

    .promo_wrapper {
        padding: 40px 30px 40px 30px;
        flex-direction: column;
        text-align: center;
    }

    .promo_text {
        padding-bottom: 40px;
    }


    .services_recent-wrapper {
        text-align: center;
        padding: 24px 40px 40px 40px;
    }

    .services_recent-idea {
        margin-top: 12px;
        margin-bottom: 30px;
    }

    .services_recent-wrapper hr {
        margin-left: auto;
    }

    .services-content_wrapper {
        width: 640px;
    }

    .card-wrapper {
        width: 50%;
        height: 25%;
    }

    .recent-work_content {
        margin-top: 40px;
    }

    .resent-work_wrapper {

        padding: 40px 61px 43px 62px;
    }

    .recent-work_info-block {
        width: 470px;
        height: 418px;
        margin-top: 21px;
    }

    .portfolio-img {
        width: 518px;
        height: 460px;
        object-fit: cover;

    }

    .content-title {
        margin: 20px 0;
    }

    .video-block_wrapper {
        flex-direction: column;
        align-items: center;
        padding: 46px 60px 56px 60px;
    }

    .video-block_img {
        width: 518px;
        min-height: 490px;
    }

    .video-block_img img {
        width: 100%;
        height: auto;
    }

    .video-block_title {
        width: 518px;
        text-align: center;
        margin-bottom: 66px;
    }

    .video-block_title hr {
        margin: 20px auto 40px auto;
    }

    .video-block_text {
        font-size: 16px;
    }

    .video-block_look-more {
        margin: auto;
        position: static;
    }

    .quotes-wrapper p {
        line-height: 34px;
    }
}

@media only screen and (max-width: 480px) {

    .intro_arrow {
        display: none;
    }

    .services_wrapper {
        align-items: center;
    }

    .services-content_wrapper {
        width: 300px;
    }

    .card-wrapper {
        width: 100%;
        height: 270px;
    }

    .portfolio-img {
        width: 280px;
        height: 250px;
    }

    .title {
        font-size: 30px;
        line-height: 28px;
    }

    .recent-work_info-block {
        width: 254px;
        height: 227px;
        margin-top: 11px;
    }

    .recent-work_content {
        justify-content: center;
    }

    .video-block_wrapper {
        padding: 20px 23px 40px 16px;
    }

    .video-block_img {
        width: 281px;
        min-height: 243px;
        margin-bottom: 43px;
    }

    .video-block_title {
        width: 280px;
        margin-left: 0;
        margin-bottom: 100px;
    }

    .video-block_title hr {
        width: 60px;
        height: 8px;
        margin: 20px auto 23px auto;
    }

    .quotes-wrapper p {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 40px;
    }

    .quotes-wrapper cite {
        margin-top: 60px;
        font-size: 24px;
        line-height: 23px;
    }

    .carousel-indicators {
        margin-top: 90px;;
    }
}

@media only screen and (max-width: 320px) {
    .header_wrapper {
        padding: 7px 20px 7px 25px;
    }

    .header {
        height: 80px;
    }

    .intro {
        max-width: 320px;
        height: 193px;
    }

    .into_title {
        width: 272px;
        margin-top: 36px;
    }

    .title_text {
        font-size: 28px;
        line-height: 28px;
    }

    .intro_read-more {
        display: none;
    }

    .intro_pagination {
        margin-top: 35px;
    }

    .promo_wrapper {
        padding: 40px 20px 40px 20px;
    }


    .services_recent-wrapper {
        width: 300px;
        margin: 0 0;
        padding: 25px 19px 40px 21px;
    }

    .title {
        font-size: 24px;
        line-height: 28px;
    }

    .text {
        font-size: 15px;
        line-height: 17px;
    }

    .services-content_wrapper {
        width: 280px;
    }

    .services_recent-integration {
        width: 269px;
    }

    .services_recent-idea {
        width: 269px;
        font-size: 20px;
        line-height: 24px;
    }


    .resent-work_wrapper {
        height: 1384px;
        padding: 40px 20px 80px 20px;
    }

    .resent-title {
        margin-bottom: 20px;
    }

    .content-title {
        margin: 20px 0;
    }

    .portfolio-img {
        width: 280px;
        height: 250px;
    }

    .recent-work_info-block a {
        padding: 6px 6px;
    }

    .video-block_title hr {
        width: 45px;
        height: 8px;
        margin: 20px auto 23px auto;
    }

    .quotes_title img {
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .quotes-wrapper cite {
        margin-top: 50px;
     }

    .carousel-indicators {
        margin-top: 80px;;
    }
}