* {
    box-sizing: border-box;
}

h1, h2, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;

    margin: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.header {
    height: 100px;
    background-color: #2B4074;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 150px 17px 46px;
}

.wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.container {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Intro section*/
.intro {
    max-width: 100%;
    height: 668px;
    background-image: url('../images/bg-img.jpg');
    opacity: 0.95;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.intro_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.into_title {
    max-width: 513px;
    max-height: 192px;
    margin-top: 107px;
}

.title_text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
}

.intro_intro-text {
    margin-top: 18px;
    width: 886px;
    height: 60px;
}

.intro-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}

.intro_read-more {
    min-width: 200px;
    height: 50px;
    background: #2B4074;
    border-radius: 3px;
    margin-top: 28px;
}

.intro_read-more:hover {
    background: #1c2c5a;
    opacity: 0.9;
    transition: opacity 1s;
}

.read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 50px;
    text-decoration: none;
    color: #F9F6E5;
}

.intro_read-more a {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 18px;
}

.intro_pagination {
    width: 50px;
    height: 12px;
    margin-top: 123px;
    align-items: center;
}

.intro_pagination .oval-2 {
    margin: 0 5px 0 5px;
}

.intro_arrow {
    position: absolute;
    width: 70px;
    height: 140px;
    top: 264px;
    right: 0;
}

.intro_arrow_back {
    width: 100%;
    height: 50%;
    background-color: #F9F6E5;
}

.intro_arrow_forward {
    width: 100%;
    height: 50%;
    background-color: #2B4074;
}

.intro_back, .intro_forward {
    color: #DADADA;
    padding: 22px 19px 22px 26px;
}

.intro_arrow_forward-link, .intro_arrow_back-link {
    display: block;
    width: 100%;
    height: 100%;
}

.intro_arrow_back:hover {
    opacity: 0.7;
    transition: opacity 1s;
}

.intro_arrow_forward:hover {
    opacity: 0.7;
    transition: opacity 1s;
}

/*Promo section*/
.promo {
    background: #2B4074;
}

.promo_wrapper {
    min-height: 192px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 150px 57px 150px;
}

.promo_text {
    max-width: 500px;
    color: #FFFFFF;
}

.promo_text h2 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.promo_text p {
    margin-top: 10px;
    font-family: Dosis, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
}


.promo_call-me {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 50px;
}

.call-me {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #2B4074;
    text-decoration: none;
}

.promo_call-me {
    background: #F9F6E5;
    border-radius: 3px;
}

.promo_call-me:hover {
    opacity: 0.8;
    transition: opacity 1s;
}

/*Services***********************************************/
.services_wrapper {
    min-height: 546px;
    display: flex;
    background: #FFFFFF;
    mix-blend-mode: normal;
    justify-content: space-between;
}

.services_recent-wrapper {
    max-width: 408px;;
    padding: 90px 0 135px 62px;
}

.services_recent-service {
    color: #2B4074;
}

.title {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
}

.services_recent-idea {
    margin-top: 64px;
    padding-bottom: 31px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: #4A4A4A;
}

.line {
    width: 100px;
    height: 8px;
    border: none;
    background-color: #2B4074;
}

.white-line {
    background-color: #FFFFFF;
}

.dark-blue-line {
    background-color: #2B4074;
}

.services_recent-wrapper hr {
    margin-left: 0;
}

.services_recent-integration {
    margin-top: 35px;
    color: #797979;
}

.text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.services-content_wrapper {
    width: 920px;
    min-height: 547px;
    block-size: auto;
    display: flex;
    flex-wrap: wrap;
}

.card-wrapper {
    width: 25%;
    height: 50%;
    border: 1px solid #F9F6E5;
    text-align: center;
}

.services-content_wrapper img {
    margin-top: 78px;
}

.services-content_wrapper h2 {
    margin-top: 28px;
    font-family: Roboto Condensed, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;

}

.services_hover-block {
    margin-top: 21px;
    opacity: 0;
}

.services_hover-block p {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #9B9B9B;
}

.services_hover-block a {
    font-family: Roboto Condensed, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #2B4074;
}

.services-content_hover:hover {
    margin-left: 2%;
    margin-right: 2%;
    min-height: 96%;
    border: 4px solid #2B4074;
    transition: border 0.5s;
}

.services-content_card:hover .services-content_hover img, .services-content_hover h2 {
    margin-top: 25px;
    transition: margin-top 1s;
}

.services-content_card:hover .services_hover-block p {
    margin-bottom: 20px;;
    transition: margin-bottom 1s;
}

.services-content_card:hover .services_hover-block {
    opacity: 1;
    transition: opacity 1s;
}

/*Recent work*/
.resent-work {
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
}

.resent-work_wrapper {
    min-height: 668px;
    padding: 80px 150px 130px 150px;
    display: flex;
    flex-direction: column;
}

.resent-work_title {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recent-work_content {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resent-title {
    margin-bottom: 24px;
    color: #FFFFFF;
}

.content-title {
    margin-top: 30px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: #2B4074;
}

.recent-work_portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.portfolio-img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

.recent-work_info-block {
    position: absolute;
    width: 243px;
    height: 217px;
    background: #F9F6E5;
    margin-top: 11px;
    mix-blend-mode: normal;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.recent-work_info-block a {
    padding: 6px 6px;
}

.recent-work_info-block:hover {
    opacity: 0.5;
    transition: opacity 1s;
}

/*Video block*/
.video-block {
    -webkit-box-shadow: 0 -20px 0 0 #FFFFFF;
    box-shadow: 0 -20px 0 0#FFFFFF;
    background-color: #FFFFFF;
}

.video-block_wrapper {
    padding: 60px 146px;
    display: flex;
    min-height: 560px;
}

.video-block_img {
    width: 460px;
    height: 420px;
}

.video-block_img img {
    width: 460px;
    height: 420px;
}

.video-block_title {
    display: table;
    width: 584px;
    margin-left: 100px;
}

.video-block_title hr {
    margin: 30px 0 15px 0;
}

.block_title {
    color: #4A4A4A;
}

.video-block_text {
    white-space: pre-line;
    color: #9B9B9B;
}

.video-block_look-more {
    width: 230px;
    height: 60px;
    background: #2B4074;
    border-radius: 3px;
    position: absolute;
    margin-left: 564px;
    margin-top: 360px;
}

.look-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 60px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #F9F6E5;
}

.video-block_look-more:hover {
    opacity: 0.9;
    transition: opacity 1s;
}

/*Last news*/
.last-news {
    background: #F9F6E5;
}

.last-news_wrapper {
    height: 1044px;
    background: #F9F6E5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-news_title {
    margin-top: 52px;
    color: #4A4A4A;
}

.last-news_title hr {
    margin-top: 19px;
    margin-bottom: 88px;
}

.last-news_content-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1200px;
    height: 78%;
    align-items: center;
}

.last-news_card_wrapper {
    width: 269px;
    padding-top: 27px;
    position: relative;
}

.hover-border {
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 10px solid transparent;
}

.last-news_card_wrapper img {
    border-radius: 4px;
}

.last-news_text {
    width: 25px;
    height: 25px;;
    margin: auto;
    position: absolute;
}

.info-button-news {
    position: absolute;
    right: 43%;
    top: 50%;
    opacity: 0;
}

.last-news_card_wrapper p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #4A4A4A;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    height: 40px;
    width: 270px;
    position: absolute;
    bottom: 0;
}

.hover-animation:hover {
    opacity: 0.95;
    transition: opacity;
}

.hover-animation:hover .info-button-news {
    opacity: 1;
    transition: opacity 1s;
}

.hover-animation:hover p {
    background-color: #2B4074;
    color: #F9F6E5;
    margin-bottom: 40px;
    width: 266px;
    transition: margin-bottom 1s;
}

.hover-animation:hover .hover-border {
    border: 10px solid #2B4074;
    transition: border 1s;
}


/*Quotes-block*/

.quotes {
    background: #FFFFFF;
}

.quotes-wrapper {
    height: 523px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quotes_title {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.quotes_title img {
    margin-bottom: 30px;
}

.quote-wrapper p {
    margin-bottom: 30px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #4A4A4A;
}

.quotes-wrapper .bolt-text {
    font-family: Roboto Condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #2B4074;
}

.quote-wrapper cite {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #4A4A4A;
}

.carousel-indicators {
    margin-top: 80px;
    display: flex;
}

.quote-carousel {
    width: 10px;
    height: 10px;
    background-color: #2B4074;
    border-radius: 50%;
    margin: 0 5px 0 5px;
}

.active-button-2 {
    border: 1px solid #2B4074;
    background: #FFFFFF;
}

.footer {
    background: #2b4074;
}

.footer-wrapper {
    position: relative;
    min-height: 639px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 230px;
    height: 60px;
    background: #2B4074;
    border-radius: 3px;
    margin-top: -30px;
}

.footer_feedback-text {
    margin-top: 158px;
    align-self: flex-start;
    max-width: 700px;
}

.feedback-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.social-wrapper {
    max-width: 100%;
    margin-top: 80px;
    display: flex;
    color: #FFFFFF;
}

.social-icon {
    width: 285px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #7EBF84;
    border-right: none;
}

.social-wrapper li:first-child {
    border-left: none;
}

.footer-menu {
    max-width: 100%;
}

.menu-wrapper {
    display: flex;
    color: #FFFFFF;
    margin-top: 85px;
}

.menu-items {
    width: 285px;
}

.menu-items .menu-items-link {
    font-family: Roboto Condensed, sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: #F9F6E5;
}

.menu-items_elements {
    padding: 22px 0 0 0;
    margin-left: 0;
}

.menu-element a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

.menu-element a:hover {
    text-decoration: underline;
    color: #7EBF84;
}

.menu-items-link:hover {
    color: #7EBF84;
}

.go-to-header {
    background: #F9F6E5;
}
.return-to-header {
    height: 42px;

}

.return-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 147px;
}

.go-top {
    width: 88px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.go-top p {
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: #4A4A4A;
}