/*Header section*  font-family: 'Roboto Condensed', sans-serif;*/
* {
    box-sizing: border-box;
}

body {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 1440px;
    height: 100px;
    background-color: #2B4074;
}

.header_wrapper {
    padding: 17px 150px 17px 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Intro section*/
.intro {
    width: 1440px;
    height: 668px;
    background-image: url('../images/bg-img.jpg');
    opacity: 0.9;
    position: relative;
}

.intro_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.into_title {
    width: 513px;
    height: 192px;
    margin-top: 107px;
}

.title_text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    margin-top: 0;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
}

.intro_intro-text {
    width: 886px;
    height: 60px;
}

.intro-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    margin-top: 28px;

}

.intro_read-more {
    margin-top: 48px;
    width: 200px;
    height: 50px;
    background: #2B4074;
    border-radius: 3px;
}

.intro_read-more:hover {
    background: #1c2c5a;
    opacity: 0.9;
}

.read-more {
    position: absolute;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 18px;
    margin: 18px 47px 14px 46px;
    color: #F9F6E5;
    text-decoration: none;
}

.read-more a {
    color: #F9F6E5;
}

.intro_pagination {
    width: 50px;
    height: 12px;
    margin-top: 123px;
    align-items: center;
}

.intro_arrow {
    position: absolute;
    width: 70px;
    height: 140px;
    top: 264px;
    right: 0;
}

.intro_arrow_back {
    width: 70px;
    height: 70px;
    background-color: #F9F6E5;
}

.intro_arrow_forward {
    width: 70px;
    height: 70px;
    background-color: #2B4074;
}

.intro_back, .intro_forward {
    color: #DADADA;
   margin: 22px 19px 22px 26px;
}

.intro_arrow_back:hover {
    opacity: 0.7;
}

.intro_arrow_forward:hover {
    opacity: 0.7;
}